.venv/
venv/
env/

__pycache__/
*.py[cod]

.ipynb_checkpoints/

data/output/*
!data/output/.gitkeep

data/input/*.xlsx
!data/input/processos_exemplo.xlsx

.env
config.py

.vscode/
.idea/

.DS_Store
Thumbs.db